<section>
  <h2>Elements</h2>
  <div class='sub-section'>
    <h3>Form Elements</h3>
    <div class='sub-section'>
      <h4>Buttons</h4>
      <div>
        <button>Call To Action</button>
        <br />
        <br />
        <button class='c-btn'>.c-btn CTA</button>
      </div>
      <h4>Inputs</h4>
      <div></div>
    </div>
  </div>
  <div class='sub-section'>
    <h3>Typography</h3>
    <div class="sub-section">
      <h4>Demarcation</h4>
      <div>
        <p>This section of text shows how <del>deleted text</del> looks within a paragraph.</p>
        <p>This section of text shows how <ins>inserted text</ins> looks within a paragraph.</p>
      </div>
    </div>
    <div class="sub-section">
      <h4>Headings</h4>
      <div>
        <h1>heading level 1</h1>
        <h2>heading level 2</h2>
        <h3>heading level 3</h3>
        <h4>heading level 4</h4>
        <h5>heading level 5</h5>
        <h6>heading level 6</h6>
      </div>
    </div>
    <div class="sub-section">
      <h4>Hyperlinks</h4>
      <div>
        <a href='#'>This is a default hyperlink</a>
      </div>
    </div>
    <div class="sub-section">
      <h4>Abbreviations</h4>
      <p>
        This is an <abbr>abbreviated</abbr> paragraph.
      </p>
    </div>
    <div class="sub-section">
      <h4>Boldface</h4>
      <p>
        This paragraph has a <b>boldfaced</b> item.
      </p>
    </div>
    <div class="sub-section">
      <h4>Bidirectional</h4>
      <p>
        This paragraph has a <bdi>bidirectional isolation</bdi> item.
      </p>
      <p>
        This paragraph has a <bdo>bidirectional override</bdo> item.
      </p>
    </div>
    <div class="sub-section">
      <h4>Line Breaks</h4>
      <p>This paragraph is a rand<br />om line break in it. See?</p>
    </div>
    <div class="sub-section">
      <h4>Citations</h4>
      <p>What happens when <cite>there is a citation?</cite></p>
    </div>
    <div class="sub-section">
      <h4>Code</h4>
      <p>What if there is some <code>console.log('code')</code> in here?</p>
    </div>
    <div class="sub-section">
      <h4>Data</h4>
      <p>What if there is <data>data</data> within it?</p>
    </div>
    <div class="sub-section">
      <h4>Definitions</h4>
      <p>What's the <dfn>definition</dfn> of a definition?</p>
    </div>
    <div class="sub-section">
      <h4>Descriptions</h4>
      <div>
        <dl>
          <dt>List Item</dt>
          <dd>Description of item</dd>
        </dl>
      </div>
    </div>
    <div class="sub-section">
      <h4>Divisions</h4>
      <div>A div<div>in another div</div>
    </div>
    <div class="sub-section">
      <h4>Emphasis</h4>
      <p>Text <em>emphasis</em> rather than just <b>boldness</b></p>
    </div>
    <div class="sub-section">
      <h4>Figures</h4>
      <div>
        When you have a figure, you should have a figcaption as well.
        <figure>
          <img src='https://vignette1.wikia.nocookie.net/starwars/images/0/04/MalgusHS-Render.jpg/revision/latest?cb=20120127020728' alt='Darth Malgus' title='Darth Malgus figure' />
          <figcaption>Darth Malgus</figcaption>
        </figure>
      </div>
    </div>
    <div class="sub-section">
      <h4>HR</h4>
      <p>An <hr /> now represents a thematic break in between paragraphs.</p>
    </div>
    <div class="sub-section">
      <h4>Italics?</h4>
      <p>Is this really what <i>i</i> stands for now?</p>
    </div>
    <div class="sub-section">
      <h4>Keyboard</h4>
      <p>Something that represents <kbd>keyboard</kbd> entries.</p>
    </div>
    <div class="sub-section">
      <h4>Lists</h4>
      <div>
        <h5>Ordered List</h5>
        <ol>
          <li>List 1</li>
          <li>List 2</li>
        </ol>
        <h5>Unordered List</h5>
        <ul>
          <li>List 1</li>
          <li>List 2</li>
        </ul>
      </div>
    </div>
    <div class="sub-section">
      <h4>Main</h4>
      <p>The main part of the document or applications.</p>
    </div>
    <div class="sub-section">
      <h4>Mark</h4>
      <p>Not just my name, but a <mark>marked, highlighted</mark> section of text.</p>
    </div>
    <div class="sub-section">
      <h4>Paragraph</h4>
      <p>A standard paragraph.</p>
    </div>
    <div class="sub-section">
      <h4>Preformatted Text</h4>
      <p>Text with some <pre>formatted</pre> text.</p>
    </div>
    <div class="sub-section">
      <h4>Quotations</h4>
      <p>The doctor said, <q>You are not going to die.</q> I was happy.</p>
    </div>
    <div class="sub-section">
      <h4>rp</h4>
      <p>what is <rp>rp?</rp></p>
    </div>
    <div class="sub-section">
      <h4>rt</h4>
      <p>what is <rt>rt?</rt></p>
    </div>
    <div class="sub-section">
      <h4>rtc</h4>
      <p>what is <rtc>rtc?</rtc></p>
    </div>
    <div class="sub-section">
      <h4>ruby</h4>
      <p>this is <ruby>ruby</ruby></p>
    </div>
    <div class="sub-section">
      <h4>Strikethrough</h4>
      <p>This is an item that has a <s>strikethrough</s> in it.</p>
    </div>
    <div class="sub-section">
      <h4>Computer Output</h4>
      <p>This is a <samp>sample of computer output</samp>.</p>
    </div>
    <div class="sub-section">
      <h4>Small</h4>
      <p><small>Smaller</small> text than usual.</p>
    </div>
    <div class="sub-section">
      <h4>Span</h4>
      <p>This has a <span>span</span> in it.</p>
    </div>
    <div class="sub-section">
      <h4>Strong</h4>
      <p>What about a <strong>strong</strong> in it?</p>
    </div>
    <div class="sub-section">
      <h4>Subscript</h4>
      <p>This is a <sub>subscript</sub>.</p>
    </div>
    <div class="sub-section">
      <h4>Superscript</h4>
      <p>This is a <sup>superscript</sup>.</p>
    </div>
    <div class="sub-section">
      <h4>Time</h4>
      <p>How do you represent <time>time</time>.</p>
    </div>
    <div class="sub-section">
      <h4>Underline</h4>
      <p>Let's <u>underline</u> this.</p>
    </div>
    <div class="sub-section">
      <h4>Variables</h4>
      <p>A <var>variable</var> in a mathematical equation.</p>
    </div>
    <div class="sub-section">
      <h4>Word Break Opportunity</h4>
      <p>What is a <wbr>word break opportunity</wbr>?</p>
    </div>
  </div>
</section>
