.sub-section
  h3 Typography
  p
    ul
      li.s-serif
        Serif Font:
        pre font-family: 'Merriweather', serif
        pre var(--serif)
      li.s-sans-serif
        Sans Serif Font:
        pre font-family: 'Lato', sans-serif
        pre var(--san-serif)
      li.s-monospace
        Monospace Font:
        pre font-family: 'PL Mono', monospace
        pre var(--monospace)
