@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Merriweather:300,300i,400,400i,700,700i,900,900i|PT+Mono');

:root {
  --serif: 'Merriweather', serif;
  --sans-serif: 'Lato', sans-serif;
  --monospace: 'PT Mono', monospace;
}

.s-serif {
  font-family: var(--serif);
}

.s-sans-serif {
  font-family: var(--sans-serif);
}

.s-monospace {
  font-family: var(--monospace);
}
