doctype html
html
  head
    meta(charset="utf-8")/
    title ScriptStyles Example page
    link(rel="stylesheet" href="script-styles.min.css")/
  body.o-full-width
    header.o-full-width
      h1.o-wrapper ScriptStyles Examples
    article.o-wrapper
      include settings/settings.pug
      include generic/generic.pug
      include elements/elements.pug
      include objects/objects.pug
      include components/components.pug
      include overrides/overrides.pug
    footer.o-full-width
      p.o-wrapper &copy; 2017 Mark Scripter
